#preview-block,
#editor-block,
#editor-text,
#preview,
#editor{
  height: 100%;
  width: 100%;
}

#editor-text,
#preview {
  padding: 10px;
}


#editor, 
#preview{
  background-color: #c7f9cc;
}

#markdown-block{
  height: 80%;
}

#preview-toolbar,
#editor-toolbar{
  background-color: #38a3a5;
  overflow-x: auto;
}

@media (max-width: 600px) {
  /* CSS rules specific to devices with a width less than 600px */
  #markdown-block {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #preview-block{
    margin-top: 10%;
  }
}


/* Preview component */
#preview {
  overflow-y: auto;
}

/* Editor component */
#editor-text{
  padding: 0;
}