#editor,
#preview {
  width: 45%;
  height: 50vh;
  padding: 10px;
  border: 1px solid #ccc;
}

textarea{
  width: 100%;
  height: 100%;
}

/* Preview component */
#preview {
  overflow-y: auto;
}

/* Editor component */